.container {
  min-height: 100vh;
  padding: 0 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, hsla(234, 80%, 88%, 1) 20%, hsla(340, 68%, 88%, 1) 60%, hsla(342, 72%, 85%, 1) 100%);
}

.main {
  padding: 5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 15px;
  height: 300px;
  padding: 0 50px;
  box-shadow: 25px 31px 53px -33px rgba(0, 0, 0, 0.58);
}

.projectsMain {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: white;
  border-radius: 15px;
  height: 600px;
  width: 800px;
  box-shadow: 25px 31px 53px -33px rgba(0, 0, 0, 0.58);
  overflow: auto;

}

.projectsMain::-webkit-scrollbar {
  width: 5px;
}

.projectsMain::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
.projectsMain::-webkit-scrollbar-thumb {
  background: #CBD5E0;
  border-radius: 20px;
}

/* Handle on hover */
.projectsMain::-webkit-scrollbar-thumb:hover {
  background:#A0AEC0;
}


.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer img {
  margin-left: 0.5rem;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  padding-bottom: 15px;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

@media screen and (min-width: 410px) and (max-width: 767px) {
  .main {
    padding: 5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 15px;
    height: fit-content;
    width: fit-content;
    padding: 25px 50px;
    box-shadow: 25px 31px 53px -33px rgba(0, 0, 0, 0.58);
  }

  .projectsMain {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
    border-radius: 15px;
    height: 500px;
    width: 400px;
    box-shadow: 25px 31px 53px -33px rgba(0, 0, 0, 0.58);
    overflow: auto;
  }

  .title {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 768px) and (max-width: 802px) {
  .main {
    padding: 5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 15px;
    height: fit-content;
    width: fit-content;
    padding: 25px 50px;
    box-shadow: 25px 31px 53px -33px rgba(0, 0, 0, 0.58);
  }

  .projectsMain {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
    border-radius: 15px;
    height: 600px;
    width: 700px;
    box-shadow: 25px 31px 53px -33px rgba(0, 0, 0, 0.58);
    overflow: auto;
  }
}

@media screen and (min-width: 0px) and (max-width: 409px) {
  .main {
    padding: 5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 15px;
    height: fit-content;
    width: 300px;
    padding: 25px 50px;
    box-shadow: 25px 31px 53px -33px rgba(0, 0, 0, 0.58);
  }

  .projectsMain {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
    border-radius: 15px;
    height: 500px;
    width: 300px;
    box-shadow: 25px 31px 53px -33px rgba(0, 0, 0, 0.58);
    overflow: auto;
  }

  .title {
    margin: 0;
    line-height: 1.15;
    font-size: 3rem;
    margin-bottom: 10px;
  }

  .description {
    line-height: 1.5;
    font-size: 1.25rem;
  }

}